*{
box-sizing:border-box;
}


.ss-page{

background:#030b11;
color:#f1f7fb;
font-family:
"Hanken Grotesk",
sans-serif;

overflow:hidden;

}


.hero{

height:100vh;
position:relative;
display:flex;
align-items:center;
padding:80px;

}



.hero-bg{

position:absolute;
inset:0;
opacity:.7;

}



.hero-content{

position:relative;
z-index:2;
max-width:650px;

}



.badge{

display:flex;
gap:10px;
align-items:center;

color:#2dd4c5;

background:#092127;

border:1px solid #16454a;

padding:10px 18px;

border-radius:30px;

width:max-content;

}





h1{

font-size:72px;

line-height:1.05;

letter-spacing:-3px;

}



h1 span{

color:#2dd4c5;

}



.hero p{

color:#8fa9b8;

font-size:20px;

line-height:1.7;

max-width:550px;

}





.buttons{

display:flex;
gap:20px;
margin-top:40px;

}



.buttons a,
.cta a{

display:flex;
align-items:center;
gap:10px;

padding:15px 30px;

border-radius:10px;

text-decoration:none;

}



.primary,
.cta a:first-child{

background:#2dd4c5;

color:#032125;

}



.secondary{

border:1px solid #28414a;

color:white;

}







.section{

padding:120px 80px;

}



.section-title{

text-align:center;

}



.section-title h2,
.ai-section h2,
.validation h2,
.cta h2{

font-size:48px;

}





.cards{

margin-top:60px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.card{

background:#061017;

border:1px solid #203039;

padding:35px;

border-radius:20px;

}



.icon{

color:#2dd4c5;

margin-bottom:20px;

}







.ai-section{

padding:120px 80px;

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

}



.ai-section p{

color:#8fa9b8;

font-size:18px;

}



.ai-section li{

margin:15px 0;

}





.dashboard{

background:#061017;

border:1px solid #203039;

padding:40px;

border-radius:25px;

}



.dashboard div{

padding:25px;

border-bottom:1px solid #203039;

display:flex;

justify-content:space-between;

}


.dashboard strong{

color:#2dd4c5;

}





.validation{

padding:120px 80px;

text-align:center;

}



.validation svg{

color:#2dd4c5;

}



.pipeline{

margin:40px auto;

display:flex;

justify-content:center;

gap:25px;

align-items:center;

color:#2dd4c5;

}





.cta{

padding:100px 50px;

margin:40px;

background:

linear-gradient(
135deg,
#061017,
#092127
);

border-radius:30px;

text-align:center;

}



.cta div{

display:flex;

justify-content:center;

gap:20px;

margin-top:40px;

}





@media(max-width:900px){


.hero{

padding:30px;

}



h1{

font-size:45px;

}



.cards,
.ai-section{

grid-template-columns:1fr;

}



.section,
.ai-section,
.validation{

padding:60px 25px;

}


}